.gallery-small {
  --gallery-item-width: 300px;
  --gallery-item-height: 300px;
  --transition-to-on: 700ms;
  --transition-to-off: 500ms;
}

.gallery-large {
  --gallery-item-width: 400px;
  --gallery-item-height: 300px;
}

.gallery-small, .gallery-large {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--gallery-item-width));
}

.gallery-item > img {
  width: var(--gallery-item-width);
  height: var(--gallery-item-height);
  object-fit: cover;
  border-radius: 1rem;
}

.gallery-small > .gallery-item {
  position: relative;
  cursor: pointer;
  transition-duration: var(--transition-to-off);
}

.gallery-small > .gallery-item:hover {
  transition-duration: var(--transition-to-on);
  transform: scale(110%);
}

.gallery-small > .gallery-item > div {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  color: var(--color-background);
}

.gallery-small > .gallery-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0.5rem; /*TODO: test fitting of tint cover over image*/
  left: 0;
  right: 0;
  border-radius: 1rem;
  transition: background-color var(--transition-to-off);
  background-color: none;
}

.gallery-small > .gallery-item:hover:before {
  /* background: hsla(0, 0%, 20%, 0.7); */
  background-color: var(--color-primary);
  transition: background-color var(--transition-to-on);
  opacity: 40%;
}

.gallery-small > .gallery-item > div {
  /* transition: duration (delay) property */
  transition: var(--transition-to-off) opacity;
  opacity: 0%;
}

.gallery-small > .gallery-item:hover > div {
  /* transition: duration (delay) property */
  transition: var(--transition-to-on) opacity;
  opacity: 100%;
}

/* .gallery-small > .gallery-item:hover > div:before {
  content: 'sdfs';
  background-color: black;
} */

.gallery-large > .gallery-item {

}