*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /* --color-background: #242424; */
  --color-background: hsl(28, 100%, 97%);
  --color-background-opposite: hsl(0, 0%, 14%);
  --color-primary: hsl(111, 100%, 30%);

  color: var(--color-primary);
  background-color: var(--color-background);
  color-scheme: light dark;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark {
  --color-background: hsl(0, 0%, 14%);
  --color-primary: hsl(111, 66%, 77%);

}

#app {
  display: grid;
  grid-template-columns: minmax(1rem, 4rem) 1fr minmax(1rem, 4rem);
}

#app > * {
  grid-column: 2 / -2;
  margin: 1.5rem 0;
}

p {
  margin-block: 0;
  margin-inline: 0;
}

section > header > h2:first-child {
  margin-block-start: 0;
}

.card-filled, .card-hollowed {
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.card-filled {
  background-color: var(--color-primary);
  color: var(--color-background)
}

.gallery-small {
  --gallery-item-width: 300px;
  --gallery-item-height: 300px;
}

.gallery-large {
  --gallery-item-width: 400px;
  --gallery-item-height: 300px;
}

.gallery-small, .gallery-large {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, var(--gallery-item-width));
}

.gallery-item > img {
  width: var(--gallery-item-width);
  height: var(--gallery-item-height);
  object-fit: cover;
  border-radius: 1rem;
}

.gallery-small > .gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-small > .gallery-item:hover {
  transition-duration: 700ms;
  transform: scale(110%);
}

.gallery-small > .gallery-item > div {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  color: var(--color-background);
}

.gallery-small > .gallery-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0.5rem; /*TODO: test fitting of tint cover over image*/
  left: 0;
  right: 0;
  border-radius: 1rem;
  transition: background-color 500ms;
  background-color: none;
}

.gallery-small > .gallery-item:hover:before {
  transition: background-color 1000ms;
  /* background: hsla(0, 0%, 20%, 0.7); */
  background-color: var(--color-primary);
  opacity: 40%;
}

.gallery-small > .gallery-item > div {
  /* transition: duration (delay) property */
  transition: 500ms opacity;
  opacity: 0%;
}

.gallery-small > .gallery-item:hover > div {
  /* transition: duration (delay) property */
  transition: 1500ms opacity;
  opacity: 100%;
}

/* .gallery-small > .gallery-item:hover > div:before {
  content: 'sdfs';
  background-color: black;
} */

.gallery-large > .gallery-item {

}