@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  --color1: white;
  --color2: black;
  /* --color3: aquamarine; */
  /* --color4: teal; */
  --color3: aqua;

  --color-background: var(--color1);
  --color-primary: var(--color2);
  --color-secondary: var(--color3);

  --margin-body: 4rem;

  color: var(--color-primary);
  background: var(--color-background);
  color-scheme: light dark;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark {
  --color-background: var(--color2);
  --color-primary: var(--color1);
  --color-secondary: var(--color4);
}

header {
  background: var(--color-primary);
  color: var(--color-background);
  padding: 1.5rem 0 0.5rem 0;
}

.navigation-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
}

/* .navigation-bar > * {
} */

.navigation-bar .link {
  color: var(--color-background);
}

.navigation-bar .link:hover {
  color: var(--color-secondary);
}

.content-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: var(--margin-body);
  display: grid;
}

section.inverted-colors {
  padding: calc(var(--margin-body) / 2) 0;

  --color-background: var(--color2);
  --color-primary: var(--color1);
  background: var(--color-background);
  color: var(--color-primary);
}

.dark section.inverted-colors {
  /* --color-background: var(--color2);
  --color-primary: var(--color1);
  background: var(--color-background);
  color: var(--color-primary); */
}

.button-lg, .button-xl {
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--color-primary);
  color: var(--color-background);
  text-align: center;
}

.button-lg {
  width: 15%;
}

.button-xl {
  width: 25%;
}

.text-center {
  text-align: center;
}

.horizontal-center {
  justify-self: center;
}

.vertical-center {
  align-self: center;
}

.grid {
  display: grid;
}

.w-full {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.my-4 {
  margin: 4rem auto;
}

/* screen-width-dependent displays
  size =[xs|sm|md|lg|xl]

  - *-visible: after width breakpoint, visible
  - *-invisible: after width breakpoint, invisible
*/

.xs-visible,
.sm-visible,
.md-visible,
.lg-visible,
.xl-visible {
  display: none;
}

/* xs: 320px - 480 px */
.xs-visible {
  display: contents;
}
.xs-invisible {
  display: none;
}

/* sm: 481px - 768px */
@media (min-width: 481px) {
  .sm-visible {
    display: contents;
  }
  .sm-invisible {
    display: none;
  }
}

/* md: 769px - 1024px */
@media (min-width: 769px) {
  .md-visible {
    display: contents;
  }
  .md-invisible {
    display: none;
  }
}

/* lg: 1025px - 1200px */

/* xl: 1201+px */