*, *::before, *::after {
  box-sizing: border-box;
}

/* body {
  --color-background: hsl(28, 100%, 97%);
  --color-background-opposite: hsl(0, 0%, 14%);
  --color-primary: hsl(111, 100%, 30%);
  --color-primary-dark: hsl(111, 100%, 20%);

  color: var(--color-primary);
  background-color: var(--color-background);
  color-scheme: light dark;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark {
  --color-background: hsl(0, 0%, 14%);
  --color-primary: hsl(111, 66%, 77%);
}

#app {
  display: grid;
  grid-template-columns: minmax(1rem, 4rem) 1fr minmax(1rem, 4rem);
}

#app > * {
  grid-column: 2 / -2;
}

p {
  margin-block: 0;
  margin-inline: 0;
}

section {
  margin: 2rem 0;
}

section > header > h2:first-child {
  margin-block-start: 0;
}

.overview-card {
  padding: 1.5rem;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  margin-top: 0!important;
}

.card-filled, .card-hollowed {
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.card-filled {
  background-color: var(--color-primary);
  color: var(--color-background)
} */